.footer-position {
    position: relative;
    min-height: 100vh;
}
body {
    background-color: #ffefd5;
}
a {
    text-decoration: none;
    color: #6495ed;
}

ul {
    list-style: none;
}
.d-flex {
    display: flex;
}
header {
    display: flex;
    align-items: center;
    background: #87ceeb;
    padding: 5px;
    justify-content: space-between;
}
header div h1 {
    font-size: 50px;
}
header .d-flex {
    display: block;
    margin: 3px;
}
header .header {
    display: flex;
}
nav {
    border: 1px solid #000000;
    padding: 2px;
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    max-width: 75%;
    justify-content: space-around;
    margin: 0 auto;
}
nav ul li a {
    color: #000000;
}
.account-log {
    color: #a9a9a9;
}
.search {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 3px;
}
input {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 350px;
    background-color: #ffffff;
    padding: 2px;
}
button {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 2px;
}
.goods {
    padding: 5px;
}
.goods h3 {
    font-size: 30px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.category {
    margin-bottom: 45px;
}
.list {
    overflow-x: scroll;
    display: flex;
    width: 75%;
    margin: 0 auto;
}
.list .item {
    padding: 2px;
    border: 2px solid #000000;
}
.list .item_name {
    border: 2px solid #000000;
    border-top: 0px;
    background-color: #d3d3d3;
    padding: 2px;
}
.list .item .d-flex {
    justify-content: space-between;
}
.thum-rader {
    width: 600px;
    height: 280px;
    margin-bottom: 0;
    padding: 2px;
}
#radar-chart .chartjs-render-monitor {
    width: 280px;
    height: 280px;
}
.bike-img {
    width: 300px;
    height: 250px;
}
.list .item .d-flex img {
    margin: 2px;
}
.item-detail {
    padding: 2px;
    border: 2px solid #000000;
    width: 50%;
    margin: 30px auto 0;
}
.item-detail .d-flex {
    justify-content: space-between;
}
.item-detail_name {
    border: 2px solid #000000;
    border-top: 0px;
    background-color: #d3d3d3;
    padding: 2px;
    width: 50%;
    margin: 0 auto;
}
.price {
    font-size: 20px;
}
.detail {
    font-size: 13px;
}
.custom {
    margin-bottom: 30px;
}
.sel {
    display: block;
    width: 300px;
    text-align: center;
    margin: 0px auto 2px;
}
footer {
    background: #b0c4de;
    padding: 5px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.form-group {
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #EDEDED;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 2px;
}
.form-control {
    margin: 5px 10px;
    width: 500px;
    display: block;
    padding: 2px;
}
.form-text {
    margin: 5px 10px;
    display: block;
}
.form-warning {
    color: #000000;
    display: block;
    margin: 5px 15px
}
.sinki {
    font-size: 30px;
    color: #000000;
    display: block;
    margin-left: 100px;
    margin-bottom: 30px;
}
.user-form-botton {
    margin: 5px 10px;
    padding: 5px;
    background-color: #00bfff;
}
.star-review {
    margin: auto;
}
.list-review {
    width: 150px;
    justify-content: space-between;
}
.review-form {
    border: 3px solid #000000;
    border-radius: 5px;
    width: 600px;
    margin: 50px auto;
    padding: 10px;
}
.review-label {
    font-size: 20px;
}
.review-control {
    margin: 10px;
}
.review-textarea {
    margin: 10px;
    padding: 5px;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.review-select { 
    margin: 10px;
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.review-botton {
    padding: 5px;
}
.detailreview {
    border: 1px solid #000000;
    width: 50%;
    margin: 0px auto 30px;
    padding: 5px;
    max-height: 250px;
    overflow-y: auto;
}
.detailreview-item {
    padding: 2px;
    margin: 10px;
}
.detailreview-title {
    font-size: 18px;
}
.detailreview-text {
    padding: 2px;
}
.select-list {
    width: 304px;
    padding: 2px;
    border: 2px solid #000000;
}
.select-list1 {
    width: 304px;
    background-color: #d3d3d3;
    border-top: 2px solid #000000;
}
.select-img {
    width: 300px;
}
.select-title {
    color: #000000;
    font-size: 16px;
}
.select-button {
    text-align: center;
    width: 250px;
    margin: 0px auto 50px;
}