{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="search">
    <input type="text" placeholder="調べたい自転車名を入力してください">
    <button type="button">検索する</button>
  </div>
  <div class="search">
    <input type="text" placeholder="タグ検索">
    <button type="button">検索する</button>
  </div>
    <div class="list">
    {% for item in object_list %}
        <div class="d-flex">
          <div>
            <div class="item">
              <div class="d-flex thum-rader">
                <img src="{{ item.thumnail.url }}" class="bike-img">
                <div class="star-review">
                  <h4 class="star-review-h4">値段:{{ item.price_rate }}</h4>
                  <h4 class="star-review-h4">幅:{{ item.haba_rate }}</h4>
                  <h4 class="star-review-h4">ドロップ:{{ item.drop_rate }}</h4>
                </div>
              </div>
              <div class="d-flex">
                <h5 class="price">¥{{ item.price }}</h5>
                <a href="{% url 'hundle-detail' item.pk %}" class="detail">詳細へ</a>
              </div>
            </div>
            <h5 class="item_name">{{ item.name }}</h5>
          </div>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock content %}