{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function radar(id,price_rate,weight_rate,gire_rate,brake_rate,frame_rate) {
    /* idが"radar-chart"の要素を取得 */
    var ctx = document.getElementById("radar-chart-"+id);
    /* 上記要素にチャートを描画　*/
    var myRadarChart = new Chart(ctx, {
      type: 'radar',
      data: {
          labels: ['値段', '重さ', 'ギア', 'ブレーキ', 'フレーム'],
          datasets: [{
              data: [price_rate,weight_rate,gire_rate,brake_rate,frame_rate]
          }]},
      options : {
          animation: { duration: 2000 },
          legend: { display: false },
          scale: {
            ticks: {
              min: 0,
              max: 5,
              stepSize: 1,
              backdropColor: 'rgba(255, 255, 255, 0)',
            }}}
    });
    return myRadarChart
  }
</script>
<main>
  <div class="search">
    <input type="text" placeholder="調べたい自転車名を入力してください">
    <button type="button">検索する</button>
  </div>
  <div class="search">
    <input type="text" placeholder="タグ検索">
    <button type="button">検索する</button>
  </div>
  <div class="list">
  {% for item in object_list %}
  <div class="d-flex">
    <div>
      <div class="item">
        <div class="d-flex thum-rader">
          <img src="{{ item.bike_thumnail.url }}" class="bike-img">
          <div class="radar-chart">
          <canvas id="radar-chart-{{ item.id }}"  style="width:250px; height: 250px;" data-item="{{ item }}"></canvas>
          <script type="text/javascript">
            radar("{{ item.id }}","{{ item.price_rate }}","{{ item.weight_rate }}","{{ item.gire_rate }}","{{ item.brake_rate }}","{{ item.frame_rate }}")
          </script>
          </div>
        </div>
        <div class="d-flex">
          <h5 class="price">¥{{ item.price }}</h5>
          <a href="{% url 'main-detail' item.pk %}" class="detail">詳細へ</a>
        </div>
      </div>
      <h5 class="item_name">{{ item.bike_name }}</h5>
    </div>
  </div>
  {% endfor %}
  </div>
</main>
{% endblock content %}