{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
      <ul class="custom">
        <li><a href="{% url 'frame-list' %}"><button class="sel" type="button">フレームを選択する</button></a></li>
        <li><a href="{% url 'wheel-list' %}"><button class="sel" type="button">ホイールを選択する</button></a></li>
        <li><a href="{% url 'pedal' %}"><button class="sel" type="button">ペダルを選択する</button></a></li>
        <li><a href="{% url 'brake' %}"><button class="sel" type="button">ブレーキを選択する</button></a></li>
        <li><a href="{% url 'hundle' %}"><button class="sel" type="button">ハンドルを選択する</button></a></li>
      </ul>
    </main>
{% endblock content %}