{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function radar(id,price_rate,weight_rate,gire_rate,brake_rate,frame_rate) {
    /* idが"radar-chart"の要素を取得 */
    var ctx = document.getElementById("radar-chart-"+id);
    /* 上記要素にチャートを描画　*/
    var myRadarChart = new Chart(ctx, {
      type: 'radar',
      data: {
          labels: ['値段', '重さ', 'ギア', 'ブレーキ', 'フレーム'],
          datasets: [{
              data: [price_rate,weight_rate,gire_rate,brake_rate,frame_rate]
          }]},
      options : {
          animation: { duration: 2000 },
          legend: { display: false },
          scale: {
            ticks: {
              min: 0,
              max: 5,
              stepSize: 1,
              backdropColor: 'rgba(255, 255, 255, 0)',
            }}}
    });
    return myRadarChart
  }
</script>
<main>
    <div>
        <div class="item-detail">
            <div class="d-flex thum-rader">
                <img src="{{ object.bike_thumnail.url }}" class="bike-img">
                <div class="radar-chart">
                    <canvas id="radar-chart-{{ object.id }}"  style="width:250px; height: 250px;" data-item="{{ object }}"></canvas>
                    <script>
                        radar("{{ object.id }}","{{ object.price_rate }}","{{ object.weight_rate }}","{{ object.gire_rate }}","{{ object.brake_rate }}","{{ object.frame_rate }}")
                    </script>
                </div>
            </div>
            <div class="d-flex">
                <h5 class="price">¥{{ object.price }}</h5>
                <div class="d-flex list-review">
                    <a href="{% url 'main-review' object.pk %}" class="detail">レビューへ</a>
                    <a href="{% url 'index' %}" class="detail">一覧へ</a>
                </div>
            </div>
        </div>
        <h5 class="item-detail_name">{{ object.bike_name }}</h5>
        <div class="detailreview">
        <h2 style="font-size: 25px;">レビュー</h2>
        {% for review in object.cyclereview_set.all %}
            <div class="detailreview-item">
                <h3 class="detailreview-title">{{ review.title }}</h3>
                <div class="detailreview-text">
                    <span style="font-size: 12px;">(投稿ユーザー: {{ review.user.username }})</span>
                    <h6 style="font-size: 12px;">評価:{{ review.rate }}点</h6>
                    <p style="font-size: 15px;">{{ review.text }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{ object.title }}">
            <input type="hidden" name="thumbnail" value="{{ object.thumbnail }}">
        </form>
        <form method="post" action="{% url 'your_view' %}">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{ object.title }}">
            <input type="hidden" name="thumbnail" value="{{ object.thumbnail }}">
        </form>
        <div class="select-button"><button type="submit" class="select-button">セレクトに追加する</button></div>
    </div>
</main>
{% endblock content %}